a {
  border-radius: 4px;
  color: white;
  height: 1.6em;
  margin: 0.5em;
  padding: 0.3em 0;
}

.contact {
  position: relative;
  width: 33%;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0;
  text-align: center;
  border: 0;
  height: 30px;
  font-size: 15px;
  color: white;
}

.legal {
  position: relative;
  width: 33%;
}

.navigation {
  position: relative;
  width: 33%;
}

@media only screen and (max-width: 600px) {
  .footer {
    font-size: 10px;
    word-wrap: normal;
  }
}
