<mat-toolbar color="primary" class="footer">
  <mat-toolbar-row>
    <li class="legal">
      <label
        >OpenTrack operates under the General Public License (GNU) v3.0</label
      >
    </li>
    <li class="contact">
      <a href="mailto:OpenTrackTeam@gmail.com" target="blank"
        >Contact Us: OpenTrackTeam@gmail.com</a
      >
    </li>
    <li class="navigation">
      <a routerLink="/discover">Discover</a>
      <a routerLink="/about">About Us</a>
    </li>
  </mat-toolbar-row>
</mat-toolbar>
