<div>
  <br />
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          General Info
        </mat-panel-title>
        <mat-panel-description>
          What is does your track teach?
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="form">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Track Title</mat-label>
          <input formControlName="title" matInput placeholder="Ex. Learn CSS Media Queries" value="" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Track Description</mat-label>
          <textarea formControlName="description" matInput
            placeholder="Ex. Media queries are a great technique to..."></textarea>
        </mat-form-field>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
  <br />
  <mat-card>
    <div *ngIf="materials.length < 1">
      <h2 style="text-align: center;">Click <strong>Add Material</strong> to get started!</h2>
    </div>
    <div *ngIf="materials.length > 0" cdkDropList class="drop-list" (cdkDropListDropped)="drop($event)">
      <app-edit-material matTooltip="Drag me to reorder!" class="material-box"
        *ngFor="let material of materials; let i = index" [material]="materials[i]"
        (materialChange)="materials[i]=$event" (delete)="deleteMaterial($event)" cdkDrag></app-edit-material>
    </div>
  </mat-card>
  <br />
  <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="createTrack()">Create Track</button>
  <button class="add-track-button" mat-stroked-button color="primary" (click)="addMaterial()">Add Material</button>
</div>