<div>
  <br>
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          General Info
        </mat-panel-title>
        <mat-panel-description>
          What is does your track teach?
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field class="full-width">
        <mat-label>Track Title</mat-label>
        <input matInput placeholder="Ex. Learn CSS Media Queries" value="">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Track Description</mat-label>
        <textarea matInput placeholder="Ex. Media queries are a great technique to..."></textarea>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
  <br>
  <mat-card>
  </mat-card>
</div>