<mat-card class="card" matTooltip="{{ cardInfo.link }}">
  <div class="container">
    <mat-card-header class="header">
      <mat-card-title style="font-size: 30px; color: white; line-height: 30px;">
        <div *ngIf="cardInfo.isTrack">
          <a
            routerLink="/track/{{ cardInfo.track_id }}"
            routerLinkActive="active"
          >
            {{ cardInfo.title }}
          </a>
        </div>
        <div *ngIf="!cardInfo.isTrack">
          <a [href]="cardInfo.link" target="_blank">
            {{ cardInfo.title }}
          </a>
        </div>
      </mat-card-title>
      <mat-card-subtitle style="color: white;">
        {{ cardInfo.author }}
      </mat-card-subtitle>
    </mat-card-header>
  </div>
  <mat-card-content class="content">
    <p>{{ cardInfo.description }}</p>
  </mat-card-content>
  <hr *ngIf="cardInfo.isTrack" style="width: 100%; margin: 0;" />
  <mat-card-actions *ngIf="cardInfo.isTrack" class="actions">
    <div class="rating">
      <div *ngIf="cardInfo.isRated">
        <app-rating style="color: #acb3e1;" [cardInfo]="cardInfo"></app-rating>
      </div>
      <div *ngIf="!cardInfo.isRated">
        <app-rating [cardInfo]="cardInfo"></app-rating>
      </div>
    </div>
    <div class="options-view">
      <li>
        <p>{{ cardInfo.viewCount }} Views</p>
      </li>
      <li>
        <div class="favorite" *ngIf="cardInfo.favorite">
          <fa-icon style="color: #ff1d89;" [icon]="faHeart"></fa-icon>
        </div>
        <div class="favorite" *ngIf="!cardInfo.favorite">
          <fa-icon [icon]="faHeart"></fa-icon>
        </div>
      </li>
      <li>
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>flag</mat-icon>
            <span>Report</span>
          </button>
        </mat-menu>
      </li>
    </div>
  </mat-card-actions>
</mat-card>
