<mat-card class="card" matTooltip="{{ cardInfo.link }}">
  <div class="container">
    <mat-card-header class="header">
      <mat-card-title style="font-size: 30px; color: white; line-height: 30px;">
        {{ cardInfo.title }}
      </mat-card-title>
      <mat-card-subtitle style="color: white;">
        {{ cardInfo.author }}
      </mat-card-subtitle>
    </mat-card-header>
  </div>
  <mat-card-content class="content">
    <p>{{ cardInfo.description }}</p>
  </mat-card-content>
  <hr style="width: 100%; margin: 0;" />
  <mat-card-actions class="actions">
    <div class="rating">
      <app-rating [rating]="cardInfo.stars"></app-rating>
    </div>
    <div class="options-view">
      <li>
        <p>{{ cardInfo.viewCount }} Views</p>
      </li>
      <li>
        <fa-icon [icon]="faHeart"></fa-icon>
      </li>
      <li>
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>flag</mat-icon>
            <span>Report</span>
          </button>
        </mat-menu>
      </li>
    </div>
  </mat-card-actions>
</mat-card>
