.trackContent h1 {
  margin: 80px 0 5px 0;
}

.rate {
  position: absolute;
  bottom: 14px;
}
.rate label {
  margin: 0 5px 0 0;
  color: transparent;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  overflow: hidden;
  cursor: pointer;
}

.rate > input:checked ~ label {
  color: #acb3e1;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #acb3e1;
}

.favorite label {
  position: relative;
  margin: 0 0 0 0;
  bottom: -5px;
}

.favorite:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.favorite:not(:checked) > label {
  float: right;
  overflow: hidden;
  cursor: pointer;
}

.favorite > input:checked ~ label {
  color: #ff1d89;
}

.favorite:not(:checked) > label:hover,
.favorite:not(:checked) > label:hover ~ label {
  color: #ff1d89;
}
