<img
  class="heroImage"
  src="https://i.ibb.co/JzLRVWf/railway-track-2049394-1920.jpg"
  alt="railway-track-2049394-1920"
/>
<div class="hero">
  <div class="leftTitle">
    <h1>Open</h1>
    <h2>Your education is on</h2>
  </div>
  <div class="rightTitle">
    <span>Track</span>
  </div>
</div>
<div class="about">
  <h2>About Us</h2>
  <p>
    Launched in 2020, OpenTrack is a platform dedicated to the promotion of
    quality courses in a single space. Our goal is to give self-driven people of
    all backgrounds a platform to find the materials they need to pursue their
    education or curiosity through effiecent and effective tracks.
  </p>
  <h2>Meet the Team</h2>
  <p>
    <li>
      Jonah Hendrickson
      <a href="mailto:hendricksonjonah@gmail.com" target="_blank"
        ><fa-icon [icon]="faEnvelope"></fa-icon
      ></a>
      <a href="https://github.com/hendricksonjonah27" target="_blank"
        ><fa-icon [icon]="faGithub"></fa-icon
      ></a>
    </li>
    <li>
      Jack Law
      <a href="mailto:lawnj00@gmail.com" target="_blank"
        ><fa-icon [icon]="faEnvelope"></fa-icon
      ></a>
      <a href="https://github.com/Brojaga" target="_blank"
        ><fa-icon [icon]="faGithub"></fa-icon
      ></a>
    </li>
    <li>
      Alex Leska
      <a href="mailto:alexander.leska@ndsu.edu" target="_blank"
        ><fa-icon [icon]="faEnvelope"></fa-icon
      ></a>
      <a href="https://github.com/leskaa" target="_blank"
        ><fa-icon [icon]="faGithub"></fa-icon
      ></a>
    </li>
    <li>
      Jacob Smith
      <a href="mailto:too.many.jacob.smiths@gmail.com" target="_blank"
        ><fa-icon [icon]="faEnvelope"></fa-icon
      ></a>
      <a href="https://github.com/JacobWilliamSmith" target="_blank"
        ><fa-icon [icon]="faGithub"></fa-icon
      ></a>
    </li>
    <li>
      Trent Yetzer
      <a href="mailto:trentyetzer0@gmail.com" target="_blank"
        ><fa-icon [icon]="faEnvelope"></fa-icon
      ></a>
      <a href="https://github.com/TrentYetzer" target="_blank"
        ><fa-icon [icon]="faGithub"></fa-icon
      ></a>
    </li>
  </p>
  <h2>Feedback?</h2>
  <p>
    <li>Experiencing trouble? Report a bug</li>
    <li>Have a suggestion? Email us</li>
    <li>Having technical difficulties? Call us</li>
  </p>
  <h2>Legal</h2>
  <p>OpenTrack operates under the General Public License (GNU) v3.0</p>
</div>
