.profileHead {
  z-index: 0;
  position: relative;
  text-align: center;
  margin: 100px auto 50px auto;
  color: #303030;
}

.profileHead img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.profileHead h2 {
  font-size: 35px;
  margin: 5px 0 5px 0;
}

.profileHead h4 {
  margin: 0 0 3px 0;
  font-size: 18px;
}

.profileHead span {
  font-size: 22px;
  margin: 8px 10px 0 0;
}

.profileContent h4 {
  position: relative;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 18px;
}

.profileContent p {
  color: #505050;
  margin: 0 0 20px 0;
}

.tracks {
  position: relative;
  margin: 20px 0 0 0;
}

.tracks h2 {
  font-size: 35px;
}

.editProfile {
  list-style: none;
}

.editProfile h2 {
  font-size: 30px;
}

.editProfile li {
  font-size: 15px;
}

.editProfile mat-form-field {
  width: 400px !important;
}

.editProfile button {
  font-size: 20px;
  margin: 0 20px 0 0;
}
