.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #3f51b5;
  color: white;
}

.menuTitle h2 {
  position: relative;
  display: inline-block;
  font-size: 26px;
  line-height: 42px;
}

.hamburger {
  display: inline-block;
  line-height: 40px;
  margin: 0 60px 0 0;
}

.sidebar {
  background-color: white;
  width: 350px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -350px;
  bottom: 0;
  transition: all 0.4s ease-in-out;
  z-index: 3;
}

.userContainer {
  position: absolute;
  top: 60px;
  left: 0;
  font-size: 30px;
  text-align: left;
  margin-left: 20px;
  color: #303030;
}

.userContainer img {
  display: inline-block;
  vertical-align: middle;
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

.pageContainer {
  transition: all 1s;
}

input[type="checkbox"]:checked ~ .sidebar {
  left: 0;
  width: 350px;
}

input[type="checkbox"]:checked ~ .pageContainer {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: #000000;
  opacity: 50%;
  filter: brightness(50%);
}

input[type="checkbox"] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: fixed;
  z-index: 5;
  height: 25px;
  width: 22px;
  top: 22px;
  left: 25px;
  transition: all 1s;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}
.horizontal {
  transition: all 0.6s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 4px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.6s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.6s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 4px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.6s;
  box-sizing: border-box;
  opacity: 0;
  background-color: #303030;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.6s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 7px;
  background-color: #303030;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.6s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -10px;
  background-color: #303030;
}

.pages {
  position: absolute;
  margin: 0 0 0 20px;
  top: 200px;
  list-style: none;
}

.pages li {
  margin: 0 0 20px 0;
  color: #303030;
}

.pages li span {
  font-size: 25px;
  display: inline-block;
  margin: 0 10px 0 0;
}

.pages li h3 {
  font-size: 30px;
  font-weight: 500;
  display: inline-block;
}

.active {
  position: relative;
  width: 310px;
  background-color: #e2eafe;
  line-height: 40px;
  height: 40px;
  transition: all ease 0.4s;
}

.box {
  margin: 0 0 0 0px;
  width: 300px;
  line-height: 40px;
  height: 40px;
  padding-left: 10px;
}

.active span {
  padding-left: 10px;
  position: relative;
  line-height: 40px;
}

.active h3 {
  position: relative;
  color: #3f51b5;
  line-height: 40px;
}

a,
a:visited {
  text-decoration: none;
  color: #303030;
}

.button-container {
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 4;
}
