/* You can add global styles to this file, and also import other style files */

html {
  width: 100%;
  overflow-x: hidden;
}
body {
  margin: 70px 40px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #303030;
}
app-login-button {
  padding: 20px;
  padding-left: 0px;
}
app-register-button {
  padding: 20px;
  padding-left: 0px;
}
.nav-bar {
  padding: 20px;
}

a {
  text-decoration: none;
}

hr {
  color: #505050;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

p {
  font-size: 15px;
}

.cardContainer {
  width: 100%;
  margin: 0;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.card {
  flex-basis: 20%;
}

.trackContent {
  position: relative;
  width: 100%;
  margin: 10px 0;
}

.actions {
  position: relative;
  margin: 5px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.actions button {
  margin: 0 -10px;
  padding: 0;
  bottom: 1px;
}

.rating {
  margin-top: 7px;
}

.options-view {
  list-style: none;
  margin: 0;
  white-space: nowrap;
  padding: 0;
}

.options-view > li {
  padding: 0 5px 0 5px;
  display: inline-block;
}
