/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
app-login {
  padding: 20px;
  padding-left: 0px;
}
app-register-button {
  padding: 20px;
  padding-left: 0px;
}
.nav-bar {
  padding: 20px;
}
